In [1]:
import pandas as pd
import numpy as np
import pickle as pkl
from copy import deepcopy

In [2]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', 1000)

In [3]:
df = pd.read_csv('../Data Sources/gun_violence_archive_github_download.csv')

original_incident_ids = list(df['incident_id'])
with open('../Pickles/original_incident_ids.pkl', 'wb') as f:
    pkl.dump(original_incident_ids, f)
    
df['participant_type'] = df['participant_type'].replace('\|', ':', regex = True).str.split(":")
df['participant_status'] = df['participant_status'].replace('\|', ':', regex = True).str.split(":")
df['participant_gender'] = df['participant_gender'].replace('\|', ':', regex = True).str.split(":")
df['participant_age'] = df['participant_age'].replace('\|', ':', regex = True).str.split(":")

df.rename({'n_guns_involved': 'num_guns_involved'}, axis = 1, inplace = True)
df.drop(['n_killed', 'n_injured', 'source_url', 'incident_url_fields_missing'], axis = 1, inplace = True)

In [4]:
len(df)

239677

In [10]:
# df_scraped = pd.read_csv('../Data Sources/gun_violence_archive_scraped_full.csv')
# df_scraped.drop(['Unnamed: 0'], axis = 1, inplace = True)

# df_scraped['page_response_code'] = df_scraped['page_response_code'].astype(int)
# print(df_scraped['page_response_code'].value_counts())
# df_scraped = deepcopy(df_scraped[(df_scraped['page_response_code']==200)].reset_index())
# df_scraped.drop(['index', 'page_response_code'], axis = 1, inplace = True)

# df_scraped['participant_status'] = df_scraped['participant_status'].replace(", A", ",A", regex = True)
# df_scraped['participant_status'] = df_scraped['participant_status'].replace(", U", ",U", regex = True)
# df_scraped['participant_status'] = df_scraped['participant_status'].replace(", K", ",K", regex = True)
# for column in df_scraped.columns:
#     if 'participant' in column:
#         df_scraped[column] = df_scraped[column].replace("'", '', regex = True)
#         df_scraped[column] = df_scraped[column].str.split(', ')

# df = deepcopy(pd.concat([df, df_scraped], sort=False))

200    20549
404     2835
Name: page_response_code, dtype: int64

In [11]:
# len(df_scraped)

20549

In [12]:
len(df)

260226

merge here

In [8]:
null_columns = df.columns[df.isnull().any()]
print(df[null_columns].isnull().sum())

address                      16497
congressional_district       11944
gun_stolen                   99498
gun_type                     99451
incident_characteristics       326
latitude                      7923
location_description        197588
longitude                     7923
num_guns_involved            99451
notes                        81017
participant_age              92298
participant_age_group        42119
participant_gender           36362
participant_name            122253
participant_relationship    223903
participant_status           27626
participant_type             24863
sources                        609
state_house_district         38772
state_senate_district        32335
dtype: int64

In [9]:
df = deepcopy(df[df['participant_type'].isnull()==False].reset_index())
df.drop('index', axis = 1, inplace = True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214814 entries, 0 to 214813
Data columns (total 25 columns):
incident_id                 214814 non-null int64
date                        214814 non-null object
state                       214814 non-null object
city_or_county              214814 non-null object
address                     199576 non-null object
incident_url                214814 non-null object
congressional_district      204128 non-null float64
gun_stolen                  124623 non-null object
gun_type                    124655 non-null object
incident_characteristics    214537 non-null object
latitude                    207413 non-null float64
location_description        37296 non-null object
longitude                   207413 non-null float64
num_guns_involved           124655 non-null float64
notes                       142863 non-null object
participant_age             147379 non-null object
participant_age_group       197558 non-null object
participant_gender          203315 non-null object
participant_name            117424 non-null object
participant_relationship    15774 non-null object
participant_status          212051 non-null object
participant_type            214814 non-null object
sources                     214489 non-null object
state_house_district        180816 non-null float64
state_senate_district       186584 non-null float64
dtypes: float64(6), int64(1), object(18)
memory usage: 41.0+ MB

In [11]:
df['date'] = pd.to_datetime(df['date'])
df['gun_stolen'] = df['gun_stolen'].astype(str)
df['incident_characteristics'] = df['incident_characteristics'].astype(str)
df['participant_relationship'] = df['participant_relationship'].astype(str)

df.loc[df['incident_id']==1276620, 'city_or_county'] = 'Algansee Township'
df.loc[df['incident_id']==1276620, 'state'] = 'Michigan'
df.loc[df['incident_id']==1189222, 'city_or_county'] = 'Taylorsville'
df.loc[df['incident_id']==1189222, 'state'] = 'Mississippi'

df.loc[(['Stolen' in s for s in df['gun_stolen']]) or
       (['stolen' in s for s in df['gun_stolen']]) or
       (['Gun(s) stolen' in s for s in df['incident_characteristics']]) or
       (['Stolen/Illegally owned gun{s}' in s for s in df['incident_characteristics']]) or
       (['stolen gun' in s for s in df['incident_characteristics']]), 'gun_stolen'] = 1
df.loc[df['gun_stolen']!=1, 'gun_stolen'] = 0
df.loc[(['Suicide' in s for s in df['incident_characteristics']]) or
       (['suicide' in s for s in df['incident_characteristics']]), 'suicide'] = 1
df.loc[df['suicide']!=1, 'suicide'] = 0
df.loc[(['Accidental' in s for s in df['incident_characteristics']]) or
       (['accidental' in s for s in df['incident_characteristics']]), 'accidental'] = 1
df.loc[df['accidental']!=1, 'accidental'] = 0
df.loc[(['Domestic Violence' in s for s in df['incident_characteristics']]), 'domestic_violence'] = 1
df.loc[(['Domestic Violence' not in s for s in df['incident_characteristics']]), 'domestic_violence'] = 0
df.loc[(['Gang' in s for s in df['participant_relationship']]) or
       (['Gang' in s for s in df['incident_characteristics']]), 'gang_related'] = 1
df.loc[df['gang_related']!=1, 'gang_related'] = 0
df.loc[(['Non-Shooting Incident' in s for s in df['incident_characteristics']]), 'non_shooting_incident'] = 1
df.loc[df['non_shooting_incident']!=1, 'non_shooting_incident'] = 0
df.loc[(['Gun shop robbery' in s for s in df['incident_characteristics']]), 'gun_shop_robbery'] = 1
df.loc[df['gun_shop_robbery']!=1, 'gun_shop_robbery'] = 0
df.loc[(['Drive-by' in s for s in df['incident_characteristics']]), 'drive_by_shooting'] = 1
df.loc[df['drive_by_shooting']!=1, 'drive_by_shooting'] = 0
df.loc[(['Officer Involved Shooting' in s for s in df['incident_characteristics']]), 'officer_involved_shooting'] = 1
df.loc[df['officer_involved_shooting']!=1, 'officer_involved_shooting'] = 0
df.loc[(['Child' in s for s in df['incident_characteristics']]), 'child_involved'] = 1
df.loc[df['child_involved']!=1, 'child_involved'] = 0
df.loc[(['Mass Shooting' in s for s in df['incident_characteristics']]), 'mass_shooting'] = 1
df.loc[df['mass_shooting']!=1, 'mass_shooting'] = 0
df.loc[(['Drug' in s for s in df['incident_characteristics']]), 'drug_involved'] = 1
df.loc[df['drug_involved']!=1, 'drug_involved'] = 0
df.loc[(['Assault weapon' in s for s in df['incident_characteristics']]), 'assault_weapon'] = 1
df.loc[df['assault_weapon']!=1, 'assault_weapon'] = 0

df.drop(['address', 'incident_url', 'sources',
         'incident_characteristics', 'participant_name',
         'participant_gender', 'participant_relationship',
         'gun_type', 'participant_age_group',
         'location_description', 'notes'], axis = 1, inplace = True)

In [12]:
boolean_columns = ['gun_stolen', 'suicide', 'accidental', 'domestic_violence',
                   'gang_related', 'non_shooting_incident', 'gun_shop_robbery',
                   'drive_by_shooting', 'officer_involved_shooting', 'child_involved',
                   'mass_shooting', 'drug_involved', 'assault_weapon']

for column in boolean_columns:
    df[column] = df[column].astype(int)
    print("{}: ".format(column) + str(len(df[df[column]==1])))

gun_stolen: 5543
suicide: 6101
accidental: 8131
domestic_violence: 10794
gang_related: 288
non_shooting_incident: 38321
gun_shop_robbery: 422
drive_by_shooting: 12030
officer_involved_shooting: 13810
child_involved: 2104
mass_shooting: 1637
drug_involved: 16722
assault_weapon: 1877

In [13]:
len(df['state'].unique())==51

True

In [14]:
df.to_pickle('../Pickles/df1.pkl')

In [15]:
df = pd.read_pickle('../Pickles/df1.pkl')

In [16]:
len(df)

214814

In [17]:
part_type_df = df.set_index(['incident_id'])['participant_type'].apply(pd.Series).stack().reset_index(level=1, drop=True)
part_type_df = part_type_df.reset_index()
part_type_df.columns = ['incident_id','participant_type']
part_type_df = part_type_df[(part_type_df['participant_type']=='Victim') | (part_type_df['participant_type']=='Subject-Suspect')]
part_type_df['participant_index'] = part_type_df.groupby('incident_id').cumcount()
part_type_df = part_type_df.reset_index()
part_type_df.drop(['index'], axis = 1, inplace = True)

part_age_df = df.set_index(['incident_id'])['participant_age'].apply(pd.Series).stack().reset_index(level=1, drop=True)
part_age_df = part_age_df.reset_index()
part_age_df.columns = ['incident_id','participant_age']
part_age_df = part_age_df[part_age_df['participant_age'] != '']
part_age_df = pd.DataFrame({'incident_id': part_age_df['incident_id'].iloc[::2].values, 'participant_index': part_age_df['participant_age'].iloc[::2].values, 'participant_age': part_age_df['participant_age'].iloc[1::2].values})
part_age_df['participant_index'] = part_age_df['participant_index'].astype(int)

part_status_df = df.set_index(['incident_id'])['participant_status'].apply(pd.Series).stack().reset_index(level=1, drop=True)
part_status_df = part_status_df.reset_index()
part_status_df.columns = ['incident_id','participant_status']
part_status_df = part_status_df[part_status_df['participant_status'] != '']
part_status_df = pd.DataFrame({'incident_id': part_status_df['incident_id'].iloc[::2].values, 'participant_index': part_status_df['participant_status'].iloc[::2].values, 'participant_status': part_status_df['participant_status'].iloc[1::2].values})
part_status_df['participant_index'] = part_status_df['participant_index'].astype(int)

part_df = pd.merge(part_type_df, part_age_df, on=['incident_id', 'participant_index'], how='outer')
part_df = pd.merge(part_df, part_status_df, on=['incident_id', 'participant_index'], how='outer')

part_df['participant_type'] = part_df['participant_type'].astype(str)
part_df['participant_status'] = part_df['participant_status'].astype(str)
part_df['participant_age'] = part_df['participant_age'].astype(float)

part_df.loc[(['Unharmed' in s for s in part_df['participant_status']]), 'num_unharmed'] = 1
part_df.loc[(['Unharmed' not in s for s in part_df['participant_status']]), 'num_unharmed'] = 0
part_df.loc[(['Arrested' in s for s in part_df['participant_status']]), 'num_arrested'] = 1
part_df.loc[(['Arrested' not in s for s in part_df['participant_status']]), 'num_arrested'] = 0
part_df.loc[(['Killed' in s for s in part_df['participant_status']]), 'num_killed'] = 1
part_df.loc[(['Killed' not in s for s in part_df['participant_status']]), 'num_killed'] = 0
part_df.loc[(['Injured' in s for s in part_df['participant_status']]), 'num_injured'] = 1
part_df.loc[(['Injured' not in s for s in part_df['participant_status']]), 'num_injured'] = 0

In [18]:
part_df.to_pickle('../Pickles/part_df.pkl')

In [19]:
part_df = pd.read_pickle('../Pickles/part_df.pkl')

In [20]:
len(part_df['incident_id'].unique())==len(df['incident_id'].unique())

True

In [21]:
part_df.head()

,incident_id,participant_type,participant_index,participant_age,participant_status,num_unharmed,num_arrested,num_killed,num_injured
0,461105,Victim,0,20.00,Arrested,0.00,1.00,0.00,0.00
1,461105,Victim,1,nan,Injured,0.00,0.00,0.00,1.00
2,461105,Victim,2,nan,Injured,0.00,0.00,0.00,1.00
3,461105,Victim,3,nan,Injured,0.00,0.00,0.00,1.00
4,461105,Subject-Suspect,4,nan,Injured,0.00,0.00,0.00,1.00

In [22]:
aggregations_1 = {
    'num_unharmed': 'sum',
    'num_arrested': 'sum',
    'num_killed': 'sum',
    'num_injured': 'sum',
    }

aggregations_2 = {
    'participant_index': 'count',
    'participant_age': 'mean',
    }

part_status_df_group = part_df.groupby(['incident_id']).agg(aggregations_1).reset_index()
part_df_group = part_df.groupby(['incident_id']).agg(aggregations_2).reset_index()
part_type_df_group = part_df.groupby(['incident_id', 'participant_type']).agg(aggregations_2).reset_index()
victim_df = deepcopy(part_type_df_group[part_type_df_group['participant_type']=='Victim'])
suspect_df = deepcopy(part_type_df_group[part_type_df_group['participant_type']=='Subject-Suspect'])

part_df_group.rename({'participant_age': 'avg_participant_age', 'participant_index': 'num_participants'}, axis = 1, inplace = True)
victim_df.rename({'participant_age': 'avg_victim_age', 'participant_index': 'num_victims'}, axis = 1, inplace = True)
suspect_df.rename({'participant_age': 'avg_suspect_age', 'participant_index': 'num_suspects'}, axis = 1, inplace = True)

victim_df.drop(['participant_type'], axis = 1, inplace = True)
suspect_df.drop(['participant_type'], axis = 1, inplace = True)

In [23]:
len(df)

214814

In [24]:
df.head(3)

,incident_id,date,state,city_or_county,congressional_district,gun_stolen,latitude,longitude,num_guns_involved,participant_age,participant_status,participant_type,state_house_district,state_senate_district,suicide,accidental,domestic_violence,gang_related,non_shooting_incident,gun_shop_robbery,drive_by_shooting,officer_involved_shooting,child_involved,mass_shooting,drug_involved,assault_weapon
0,461105,2013-01-01,Pennsylvania,Mckeesport,14.00,0,40.35,-79.86,nan,"[0, , 20]","[0, , Arrested, , 1, , Injured, , 2, , Injured, , 3, , Injured, , 4, , Injured]","[0, , Victim, , 1, , Victim, , 2, , Victim, , 3, , Victim, , 4, , Subject-Suspect]",nan,nan,0,0,0,0,0,0,0,0,0,1,0,0
1,460726,2013-01-01,California,Hawthorne,43.00,0,33.91,-118.33,nan,"[0, , 20]","[0, , Killed, , 1, , Injured, , 2, , Injured, , 3, , Injured]","[0, , Victim, , 1, , Victim, , 2, , Victim, , 3, , Victim, , 4, , Subject-Suspect]",62.00,35.00,0,0,0,0,0,0,0,0,0,1,0,0
2,478855,2013-01-01,Ohio,Lorain,9.00,0,41.45,-82.14,2.00,"[0, , 25, , 1, , 31, , 2, , 33, , 3, , 34, , 4, , 33]","[0, , Injured, Unharmed, Arrested, , 1, , Unharmed, Arrested, , 2, , Killed, , 3, , Injured, , 4, , Injured]","[0, , Subject-Suspect, , 1, , Subject-Suspect, , 2, , Victim, , 3, , Victim, , 4, , Victim]",56.00,13.00,0,0,0,0,0,0,0,0,0,0,0,0

In [25]:
df = pd.merge(df, part_df_group, on=['incident_id'], how='outer')
df = pd.merge(df, part_status_df_group, on=['incident_id'], how='outer')
df = pd.merge(df, victim_df, on=['incident_id'], how='outer')
df = pd.merge(df, suspect_df, on=['incident_id'], how='outer')

df.loc[df['num_suspects'].isnull(), 'num_suspects'] = 0
df.drop(['participant_age', 'participant_status', 'participant_type'], axis = 1, inplace = True)

In [26]:
# added las vegas shooting (originally missing from dataset)
df_append = pd.DataFrame(columns = list(df.columns))
# id for las vegas shooting chosing arbitrarily (it's the date of the show)
df_append.loc[0, 'incident_id'] = 100117
df_append.loc[0, 'date'] = pd.Timestamp('2017-10-01')
df_append.loc[0, 'state'] = 'Nevada'
df_append.loc[0, 'city_or_county'] = 'Las Vegas'
df_append.loc[0, 'latitude'] = 36.08833298
df_append.loc[0, 'longitude'] = -115.171499314
df_append.loc[0, 'num_killed'] = 59
df_append.loc[0, 'num_injured'] = 489
df_append.loc[0, 'num_guns_involved'] = 47
df_append.loc[0, 'suicide'] = 1
df_append.loc[0, 'accidental'] = 0
df_append.loc[0, 'domestic_violence'] = 0
df_append.loc[0, 'gang_related'] = 0
df_append.loc[0, 'non_shooting_incident'] = 0
df_append.loc[0, 'gun_shop_robbery'] = 0
df_append.loc[0, 'drive_by_shooting'] = 0
df_append.loc[0, 'officer_involved_shooting'] = 1
df_append.loc[0, 'child_involved'] = 0
df_append.loc[0, 'mass_shooting'] = 1
df_append.loc[0, 'drug_involved'] = 0
df_append.loc[0, 'gun_stolen'] = 0
df_append.loc[0, 'assault_weapon'] = 1
df_append.loc[0, 'num_arrested'] = 0
df_append.loc[0, 'num_suspects'] = 1
df_append.loc[0, 'avg_suspect_age'] = 64
df_append.loc[0, 'avg_victim_age'] = 34.93877551
# giving same value to 20000 participants as the 910 victims because shooting was random
df_append.loc[0, 'avg_participant_age'] = 34.93877551
# number killed + number total injuries from not-only gunfire wikipedia
df_append.loc[0, 'num_victims'] = 910
# total number of attendees at concert
df_append.loc[0, 'num_participants'] = 22000
# attendees who didn't get injured
df_append.loc[0, 'num_unharmed'] = 21090

df = df.append([df_append], sort=False, ignore_index = True)

In [27]:
df.head()

,incident_id,date,state,city_or_county,congressional_district,gun_stolen,latitude,longitude,num_guns_involved,state_house_district,state_senate_district,suicide,accidental,domestic_violence,gang_related,non_shooting_incident,gun_shop_robbery,drive_by_shooting,officer_involved_shooting,child_involved,mass_shooting,drug_involved,assault_weapon,num_participants,avg_participant_age,num_unharmed,num_arrested,num_killed,num_injured,num_victims,avg_victim_age,num_suspects,avg_suspect_age
0,461105,2013-01-01 00:00:00,Pennsylvania,Mckeesport,14.00,0,40.35,-79.86,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1,0,0,5,20.00,0.00,1.00,0.00,4.00,4.00,20.00,1.00,NaN
1,460726,2013-01-01 00:00:00,California,Hawthorne,43.00,0,33.91,-118.33,NaN,62.00,35.00,0,0,0,0,0,0,0,0,0,1,0,0,5,20.00,0.00,0.00,1.00,3.00,4.00,20.00,1.00,NaN
2,478855,2013-01-01 00:00:00,Ohio,Lorain,9.00,0,41.45,-82.14,2.00,56.00,13.00,0,0,0,0,0,0,0,0,0,0,0,0,5,31.20,2.00,2.00,1.00,3.00,3.00,33.33,2.00,28.00
3,478925,2013-01-05 00:00:00,Colorado,Aurora,6.00,0,39.65,-104.80,NaN,40.00,28.00,0,0,0,0,0,0,0,1,0,0,1,0,4,37.75,0.00,0.00,4.00,0.00,3.00,39.33,1.00,33.00
4,478959,2013-01-07 00:00:00,North Carolina,Greensboro,6.00,0,36.11,-79.96,2.00,62.00,27.00,1,0,1,0,0,0,0,0,0,0,0,0,4,31.25,0.00,0.00,2.00,2.00,3.00,26.00,1.00,47.00

In [28]:
df.columns

Index(['incident_id', 'date', 'state', 'city_or_county',
       'congressional_district', 'gun_stolen', 'latitude', 'longitude',
       'num_guns_involved', 'state_house_district', 'state_senate_district',
       'suicide', 'accidental', 'domestic_violence', 'gang_related',
       'non_shooting_incident', 'gun_shop_robbery', 'drive_by_shooting',
       'officer_involved_shooting', 'child_involved', 'mass_shooting',
       'drug_involved', 'assault_weapon', 'num_participants',
       'avg_participant_age', 'num_unharmed', 'num_arrested', 'num_killed',
       'num_injured', 'num_victims', 'avg_victim_age', 'num_suspects',
       'avg_suspect_age'],
      dtype='object')

In [29]:
df['date'] = pd.to_datetime(df['date'])
df['num_killed'] = df['num_killed'].astype(int)
df['num_injured'] = df['num_injured'].astype(int)
df['gun_stolen'] = df['gun_stolen'].astype(int)
df['suicide'] = df['suicide'].astype(int)
df['accidental'] = df['accidental'].astype(int)
df['domestic_violence'] = df['domestic_violence'].astype(int)
df['gang_related'] = df['gang_related'].astype(int)
df['non_shooting_incident'] = df['non_shooting_incident'].astype(int)
df['gun_shop_robbery'] = df['gun_shop_robbery'].astype(int)
df['drive_by_shooting'] = df['drive_by_shooting'].astype(int)
df['officer_involved_shooting'] = df['officer_involved_shooting'].astype(int)
df['child_involved'] = df['child_involved'].astype(int)
df['mass_shooting'] = df['mass_shooting'].astype(int)
df['drug_involved'] = df['drug_involved'].astype(int)
df['assault_weapon'] = df['assault_weapon'].astype(int)
df['incident_id'] = df['incident_id'].astype(int)
df['num_suspects'] = df['num_suspects'].astype(int)
df['latitude'] = df['latitude'].astype(float)
df['longitude'] = df['longitude'].astype(float)
df['num_guns_involved'] = df['num_guns_involved'].astype(float)
df['congressional_district'] = df['congressional_district'].astype(float)
df['avg_participant_age'] = df['avg_participant_age'].astype(float)
df['num_unharmed'] = df['num_unharmed'].astype(float)
df['num_arrested'] = df['num_arrested'].astype(float)
df['num_victims'] = df['num_victims'].astype(float)
df['avg_victim_age'] = df['avg_victim_age'].astype(float)
df['avg_suspect_age'] = df['avg_suspect_age'].astype(float)
df['num_participants'] = df['num_participants'].astype(float)

In [30]:
df.to_pickle('../Pickles/df2.pkl')

In [31]:
df = pd.read_pickle('../Pickles/df2.pkl')

In [32]:
len(df)

214815

In [33]:
df.head()

,incident_id,date,state,city_or_county,congressional_district,gun_stolen,latitude,longitude,num_guns_involved,state_house_district,state_senate_district,suicide,accidental,domestic_violence,gang_related,non_shooting_incident,gun_shop_robbery,drive_by_shooting,officer_involved_shooting,child_involved,mass_shooting,drug_involved,assault_weapon,num_participants,avg_participant_age,num_unharmed,num_arrested,num_killed,num_injured,num_victims,avg_victim_age,num_suspects,avg_suspect_age
0,461105,2013-01-01,Pennsylvania,Mckeesport,14.00,0,40.35,-79.86,nan,NaN,NaN,0,0,0,0,0,0,0,0,0,1,0,0,5.00,20.00,0.00,1.00,0,4,4.00,20.00,1,nan
1,460726,2013-01-01,California,Hawthorne,43.00,0,33.91,-118.33,nan,62.00,35.00,0,0,0,0,0,0,0,0,0,1,0,0,5.00,20.00,0.00,0.00,1,3,4.00,20.00,1,nan
2,478855,2013-01-01,Ohio,Lorain,9.00,0,41.45,-82.14,2.00,56.00,13.00,0,0,0,0,0,0,0,0,0,0,0,0,5.00,31.20,2.00,2.00,1,3,3.00,33.33,2,28.00
3,478925,2013-01-05,Colorado,Aurora,6.00,0,39.65,-104.80,nan,40.00,28.00,0,0,0,0,0,0,0,1,0,0,1,0,4.00,37.75,0.00,0.00,4,0,3.00,39.33,1,33.00
4,478959,2013-01-07,North Carolina,Greensboro,6.00,0,36.11,-79.96,2.00,62.00,27.00,1,0,1,0,0,0,0,0,0,0,0,0,4.00,31.25,0.00,0.00,2,2,3.00,26.00,1,47.00

In [34]:
aggregations = {
    'incident_id': 'count',
    'num_killed': 'sum',
    'num_injured': 'sum',
    'gun_stolen': 'sum',
    'num_guns_involved': 'sum',
    'suicide': 'sum',
    'accidental': 'sum',
    'domestic_violence': 'sum',
    'gang_related': 'sum',
    'non_shooting_incident': 'sum',
    'gun_shop_robbery': 'sum',
    'drive_by_shooting': 'sum',
    'officer_involved_shooting': 'sum',
    'child_involved': 'sum',
    'mass_shooting': 'sum',
    'drug_involved': 'sum',
    'assault_weapon': 'sum',
    'num_unharmed': 'sum',
    'num_arrested': 'sum',
    'num_suspects': 'sum',
    'avg_suspect_age': 'mean',
    'num_victims': 'sum',
    'avg_victim_age': 'mean',
    'num_participants': 'sum',
    'avg_participant_age': 'mean',
    }

df_states = df.groupby(['state', 'date']).agg(aggregations).reset_index()
df_states.rename({'incident_id': 'num_incidents'}, axis = 1, inplace = True)
df_date = df.groupby(['date']).agg(aggregations).reset_index()
df_date.rename({'incident_id': 'num_incidents'}, axis = 1, inplace = True)

In [35]:
df_states.to_pickle('../Pickles/df_states.pkl')
df_date.to_pickle('../Pickles/df_date.pkl')

In [36]:
df_states = pd.read_pickle('../Pickles/df_states.pkl')
df_date = pd.read_pickle('../Pickles/df_date.pkl')
state_laws_df = pd.read_pickle('../Pickles/state_firearm_laws.pkl')

In [37]:
df_states.drop(['avg_victim_age', 'avg_suspect_age',
                'num_participants', 'avg_participant_age'],
               axis = 1, inplace = True)
df_date.drop(['avg_victim_age', 'avg_suspect_age', 'num_participants',
              'avg_participant_age'],
             axis = 1, inplace = True)

In [38]:
missing_dates = set(pd.period_range(min(df_date['date']), max(df_date['date']))) - set(list(pd.DatetimeIndex(df_date['date']).to_period('D')))
print("{} missing dates across the US.".format(len(missing_dates)))
df_append = pd.DataFrame(list(missing_dates), columns = ['date'])
df_append['date'] = pd.to_datetime(df_append['date'].astype(str))
for column in df_date.columns:
    if column != 'date':
        df_append[column] = 0
df_date = df_date.append(df_append, sort=False, ignore_index = True)

for state in df_states['state'].unique():
    missing_dates = set(pd.period_range(min(df_states['date']), max(df_states['date']))) - set(list(pd.DatetimeIndex(df_states[df_states['state']==state]['date']).to_period('D')))
    print("{} missing dates in {}.".format(len(missing_dates), state))
    df_append = pd.DataFrame(list(missing_dates), columns = ['date'])
    df_append['date'] = pd.to_datetime(df_append['date'].astype(str))
    df_append['state'] = state
    for column in df_states.columns:
        if column != 'date' and column != 'state':
            df_append[column] = 0
    df_states = df_states.append(df_append, sort=False, ignore_index = True)

191 missing dates across the US.
449 missing dates in Alabama.
1174 missing dates in Alaska.
812 missing dates in Arizona.
683 missing dates in Arkansas.
331 missing dates in California.
681 missing dates in Colorado.
685 missing dates in Connecticut.
957 missing dates in Delaware.
814 missing dates in District of Columbia.
356 missing dates in Florida.
384 missing dates in Georgia.
1681 missing dates in Hawaii.
1424 missing dates in Idaho.
354 missing dates in Illinois.
420 missing dates in Indiana.
797 missing dates in Iowa.
848 missing dates in Kansas.
525 missing dates in Kentucky.
379 missing dates in Louisiana.
1378 missing dates in Maine.
437 missing dates in Maryland.
465 missing dates in Massachusetts.
424 missing dates in Michigan.
899 missing dates in Minnesota.
567 missing dates in Mississippi.
420 missing dates in Missouri.
1460 missing dates in Montana.
1057 missing dates in Nebraska.
887 missing dates in Nevada.
1300 missing dates in New Hampshire.
459 missing dates in New Jersey.
1007 missing dates in New Mexico.
369 missing dates in New York.
369 missing dates in North Carolina.
1508 missing dates in North Dakota.
367 missing dates in Ohio.
601 missing dates in Oklahoma.
868 missing dates in Oregon.
362 missing dates in Pennsylvania.
1348 missing dates in Rhode Island.
408 missing dates in South Carolina.
1561 missing dates in South Dakota.
385 missing dates in Tennessee.
359 missing dates in Texas.
1244 missing dates in Utah.
1567 missing dates in Vermont.
428 missing dates in Virginia.
625 missing dates in Washington.
986 missing dates in West Virginia.
520 missing dates in Wisconsin.
1729 missing dates in Wyoming.

In [39]:
len(list(set(df_states['state'].value_counts().values)))==1

True

In [40]:
for column in df_states.columns:
    if column=='date':
        df_states['date'] = pd.to_datetime(df_states['date'])
    elif column=='state':
        pass
    else:
        df_states[column] = df_states[column].astype(int)
        
for column in df_date.columns:
    if column=='date':
        df_date['date'] = pd.to_datetime(df_date['date'])
    else:
        df_date[column] = df_date[column].astype(int)

In [41]:
df_states['year'] = df_states['date'].dt.year
df_states = pd.merge(df_states, state_laws_df, on=['state', 'year'], how='left')
df_states = df_states.reset_index()
df_states.drop(['index'], axis = 1, inplace = True)

df_states = df_states.sort_values(by = 'date', ascending = True)
df_date = df_date.sort_values(by = 'date', ascending = True)

df_states.to_pickle('../Pickles/df_states_2.pkl')
df_date.to_pickle('../Pickles/df_date_2.pkl')

In [42]:
len(df_date)==len(df_states)/51

True

In [43]:
df_states = pd.read_pickle('../Pickles/df_states_2.pkl')
df_date = pd.read_pickle('../Pickles/df_date_2.pkl')

In [44]:
# print(len(df_date[df_date['num_incidents']==0]))
# print(len(df_states[df_states['num_incidents']==0]))